
@font-face {
		font-family: "Fot-NewRodin Pro DB";
		src: url("./FOT-NewRodin Pro DB.otf");
}

body {
        margin: 40px;
		background-image: url("./miscimagefile/bg_talk_Village.png");
		background-repeat: no-repeat;
		background-position: right top;
		background-attachment: fixed;
        background-size: 1920px 1080px;
		font-family: "Fot-NewRodin Pro B";
    }

.character_button {
    background-color: rgba(39, 160, 132, 0.84);
    color: black;
    border: 5px solid #116144;
    width: 120px;
    height: 120px;
    display: none;
    border-radius: 5px;
    padding: 15px;
}

.character_button img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    image-rendering: pixelated;
}

.character_button:hover {
    border: 7px solid #71ff00;
}

.chapter_button {
    background-color: rgba(39, 160, 132, 0.84);
    color: white;
    border: 5px solid #116144;
    display: none;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    font-family: "Fot-NewRodin Pro DB";
}

.chapter_button:hover {
    background-color: #04AA6D;
    color: white;
}

.chapters {
    display: none;
    padding: 30px 0px;
}

.dialogue {
    display: none;
    text-indent: 2em;
    
}
.line{
    font-family: FOT-NewRodin Pro DB;
    color:white;
    border: 5px #116144 solid;
    background-color: rgba(39, 160, 132, 0.84);
    margin-top: 5px;
    padding: 30px 70px 30px 0px;
    border-radius: 5px;
}